<div class="col-md-12">
    <div class="content">

        <div class="header text-left">
            <a id="add" href="#" data-toggle="modal">
                <i class="fa fa-plus fa-fw"></i>
                New
            </a>&nbsp;
            <a id="edit" href="#">
                <i class="fa fa-edit fa-fw"></i>
                Edit
            </a>&nbsp;
            <a id="delete" href="#">
                <i class="fa fa-minus fa-fw"></i>
                Delete
            </a>
        </div>

        <div id="mgmt-datatable-container" class="table-responsive">
            <h4>Loading users table...</h4>
        </div>
    </div>
</div>