<div class="col-md-12">
    <div class="content">
        <div id="user-msg-container" class="alert alert-warning" style="display: none;">
            <i class="fa fa-times-circle sign"></i>
            <lable id="user-msg"></lable>
        </div>
        <div class="header text-left">
            <a id="add" href="#" data-toggle="modal">
                <i class="fa fa-plus fa-fw"></i>
                {{_('New')}}
            </a>&nbsp;
            <a id="edit" href="#">
                <i class="fa fa-edit fa-fw"></i>
                {{_('Edit')}}
            </a>&nbsp;
            <a id="save-as" href="#">
                <i class="fa fa-copy fa-fw"></i>
                {{_('Save as')}}
            </a>&nbsp;
            <a id="delete" href="#">
                <i class="fa fa-minus fa-fw"></i>
                {{_('Delete')}}
            </a>
        </div>
        <div id="mgmt-datatable-container" class="table-responsive">
            <h4>{{_('Loading users table')}}...</h4>
        </div>
    </div>
</div>