<!-- Nifty Modal -->
<div id="user-new-modal" class="modal fade colored-header in" role="dialog" tabindex="-1" style="display: none;" aria-hidden="false">
    <div class="modal-dialog colored-header custom-width">
        <div class="md-content">
            <div class="modal-header">
                <h3><label id="title">Create User</label></h3>
                <button type="button" class="close md-close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form id="new-modal" class="" style="border-radius: 0px;" action="#">
                <div class="modal-body form">
                    <div class="form-group row">
                        <div class="col-sm-6 col-md-6">
                            <label class="control-label">User Name</label>
                            <input type="text" id="name" required placeholder="Username" class="form-control">
                            <div id="nick-error"></div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <label class="control-label">Password</label>
                            <input id="password" placeholder="Password" required class="form-control">
                            <div id="password-error"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-md-6">
                            <label class="control-label">Company</label>
                            <input id="company" required placeholder="Company" class="form-control">
                            <div id="company-error"></div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <label class="control-label">E-mail</label>
                            <input id="email" required placeholder="E-mail" class="form-control">
                            <div id="email-error"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-md-6">
                            <label class="control-label">Mobile</label>
                            <input id="mobile" placeholder="Mobile" class="form-control">
                            <div id="mobile-error"></div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <label class="control-label">Role</label>
                            <select id="role" class="select2">
                                <option value="1">Resource</option>
                                <option value="2">Resource Owner</option>
                                <option value="3">Administrator</option>
                            </select>
                        </div>
                    </div>
                    <div id="resource-container" style="display: none;" class="form-group row">
                        <div class="form-group col-md-12 no-margin">
                            <label class="control-label">Resource</label>
                            <select id="resource" class="searchable">
                                <option value="1">Resource01</option>
                                <option value="2">Resource02</option>
                                <option value="3">Resource03</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-md-12 no-margin">
                                    <label>Active</label>
                                </div>
                            </div>
                            <div class="row no-margin-y">
                                <div class="form-group col-md-12 no-margin">
                                    <div class="switch">
                                        <input id="enabled" type="checkbox" checked>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="control-label">Notes</label>
                            <textarea id="notes" class="form-control" placeholder="Notes"></textarea>
                            <input type="hidden" id="uid">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="save" type="button" class="btn btn-primary btn-flat md-close" data-dismiss="modal">Create</button>
                    <button type="button" class="btn btn-default btn-flat md-close" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>