*.pyc
*.pyo
*.egg-info
*.log
*.tmp.*
*.iml
.idea/
*.swp
*.log
*.db
*.pid

__pycache__
build
develop-eggs
eggs
parts
.DS_Store
.installed.cfg
.tox
.project
.pydevproject
bin/travis_env.txt
node_modules



data/
venv/
cover/
logs/
/dist/
build/

.externalToolBuilders
.settings

assets_rel/
cogenda_app/static/bower_components/
/cogenda_app/static/js/*.min.js
/cogenda_app/static/css/*.min.css

