<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        {# TODO:
        <link rel="shortcut icon" type="image/x-icon" href="{{ static_url('arctic/common/images/favicon.ico') }}">
        #}
        <title>{% block title %}{% block subtitle %}{% endblock %} — Title Here {% endblock %} </title>
        {% include "admin/layout/layout-include-css.html"%}
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery.parsley/2.0.0/parsley.js"></script>
        <script type="text/javascript" src="/static/js/cogenda.admin.auth.js"></script>
    </head>

    <body class="texture" id="security-body">
      {% block main %}{% endblock %}
</body>
</html>