<!-- 
{% if not settings.cogenda_app.env %}
    <link rel="stylesheet" type="text/css" href="/static/css/cogenda.admin.css" />
{% elif settings.cogenda_app.env == 'production' %}
    <link rel="stylesheet" type="text/css" href="/static/css/cogenda.admin.min.css" />
{% endif %}
-->

<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/vendor/font-awesome-4/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/static/vendor/jquery.multiselect/css/multi-select.css" />
<link rel="stylesheet" type="text/css" href="/static/vendor/jquery.select2/select2.css" />
<link rel="stylesheet" type="text/css" href="/static/vendor/jquery.datatables/bootstrap-adapter/css/datatables.css" />
<link rel="stylesheet" type="text/css" href="/static/vendor/jquery.niftymodals/css/component.css" />
<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap.switch/bootstrap-switch.css" />
<link rel="stylesheet" type="text/css" href="/static/vendor/nprogress/nprogress.css" />
<link rel="stylesheet" type="text/css" href="/static/css/cogenda.admin.css" />
