<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.datatables/jquery.datatables.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.datatables/bootstrap-adapter/js/datatables.js"></script>
<script type="text/javascript" src="/static/js/jquery.quicksearch/jquery.quicksearch.js"></script>
<script type="text/javascript" src="/static/js/jquery.multiselect/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="/static/js/jquery.select2/select2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.niftymodals/js/jquery.modalEffects.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.switch/bootstrap-switch.min.js"></script>

<script type="text/javascript" src="/static/js/cogenda.admin.js"></script>