<!-- bower:js
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script src="/static/bower_components/quicksearch/dist/jquery.quicksearch.js"></script>
<script src="/static/bower_components/multiselect/js/jquery.multi-select.js"></script>
<script src="/static/bower_components/parsleyjs/dist/parsley.min.js"></script>
<script src="/static/bower_components/parsleyjs/src/i18n/zh_cn.js"></script>
<script src="/static/bower_components/select2/select2.min.js"></script>
<script src="/static/bower_components/bootstrap-switch/static/js/bootstrap-switch.js"></script>
<script src="/static/bower_components/datatables-bootstrap3/BS3/assets/js/datatables.js"></script>
<!-- endbower -->
<!--
<script type="text/javascript" src="/static/js/jquery.niftymodals/js/jquery.modalEffects.js"></script>

{% if settings.cogenda_app.env == 'dev' %}
    <script type="text/javascript" src="/static/js/cogenda.admin.js"></script>
{% elif settings.cogenda_app.env == 'prod' %}
    <script type="text/javascript" src="/static/js/cogenda.admin.min.js"></script>
{% endif %}
-->

<!-- deprecated to use bower components instead.-->
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.datatables/jquery.datatables.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.datatables/bootstrap-adapter/js/datatables.js"></script>
<script type="text/javascript" src="/static/js/jquery.quicksearch/jquery.quicksearch.js"></script>
<script type="text/javascript" src="/static/js/jquery.multiselect/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="/static/js/jquery.select2/select2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.niftymodals/js/jquery.modalEffects.js"></script>
<script type="text/javascript" src="/static/js/jquery.quicksearch/jquery.quicksearch.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.switch/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.parsley/2.0.0/parsley.js"></script>
<script type="text/javascript" src="/static/js/i18n/zh_cn.js"></script>
<script type="text/javascript" src="/static/js/cogenda.admin.js"></script>
<!-- -->
<input type="hidden" name="language" id="locale" value="{{ locale }}" />
