<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="/static/js/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/css/style.admin.css" />
<link rel="stylesheet" type="text/css" href="/static/js/jquery.datatables/bootstrap-adapter/css/datatables.css" />
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/static/js/jquery.multiselect/css/multi-select.css" />
<link rel="stylesheet" type="text/css" href="/static/js/jquery.select2/select2.css" />