<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% block subtitle %}{% endblock %} — Site Title {% endblock %} </title>

        {% include "admin/layout/layout-include-css.html"%}
        {% block afterstyle %}{% endblock %}
    </head>
    <body>

        <div id="cl-wrapper">
            <div class="cl-sidebar">
                <div class="cl-toggle"><i class="fa fa-bars"></i></div>
                <div class="cl-navblock">
                    <div class="menu-space">
                        <div class="content">
                            <div class="sidebar-logo">
                                <div class="logo">
                                    <a href="index2.html"></a>
                                </div>
                            </div>
                            <ul style="padding: 36px 0px 0px 0px;" class="cl-vnavigation" id="main-menu">
                                <li><a href="/admin/user-mgmt"><i class="fa fa-user"></i>User Management</a></li>
                                <li><a href="/admin/resource-mgmt"><i class="fa fa-briefcase"></i>Resource Management</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="pcont">
                <!-- TOP NAVBAR -->
                <div id="head-nav" class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-collapse">
                            <ul class="nav navbar-nav navbar-right user-nav">
                                <li class="dropdown profile_menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{{ user[0] }}</span> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/security/logout">Sign Out</a></li>
                                </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="main-content">
                    {% block main %}{% endblock %}
                    <div>
                    </div>
                </div>
            </div>
        </div>
        {% include "admin/layout/layout-include-js.html"%}
    </body>
</html>
