<!-- bower:css
<link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="/static/bower_components/multiselect/css/multi-select.css" />
<link rel="stylesheet" href="/static/bower_components/select2/select2.css" />
<link rel="stylesheet" href="/static/bower_components/bootstrap-switch/static/stylesheets/bootstrap-switch.css" />
<link rel="stylesheet" href="/static/bower_components/datatables-bootstrap3/BS3/assets/css/datatables.css" />

<link rel="stylesheet" type="text/css" href="/static/js/jquery.niftymodals/css/component.css" />

{% if settings.cogenda_app.env == 'dev' %}
    <link rel="stylesheet" type="text/css" href="/static/css/cogenda.admin.css" />
{% elif settings.cogenda_app.env == 'prod' %}
    <link rel="stylesheet" type="text/css" href="/static/css/cogenda.admin.min.css" />
{% endif %}
-->
<!-- deprecated please use bower components -->
<link rel="stylesheet" type="text/css" href="/static/js/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/static/js/jquery.multiselect/css/multi-select.css" />
<link rel="stylesheet" type="text/css" href="/static/js/jquery.select2/select2.css" />
<link rel="stylesheet" type="text/css" href="/static/js/jquery.datatables/bootstrap-adapter/css/datatables.css" />
<link rel="stylesheet" type="text/css" href="/static/js/jquery.niftymodals/css/component.css" />
<link rel="stylesheet" type="text/css" href="/static/js/bootstrap.switch/bootstrap-switch.css" />
<link rel="stylesheet" type="text/css" href="/static/css/cogenda.admin.css" />
<!-- -->
