/*LESS CSS pre-processor*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*CONFIG AND GENERAL STYLE*/
/*General colors palette*/
/*General elements*/
/*Flat palette*/
/*social colors*/
/*Functions*/
html {
  height: 100%;
}
body {
  position: relative;
  padding: 0;
  background-color: #F0F0F0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #555;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a {
  color: #816bb1;
  text-decoration: none;
  outline: 0 none;
}
a:focus,
a:hover,
a:active {
  outline: 0 none;
  text-decoration: none;
  color: #6d579d;
}
p {
  font-size: 13px;
  line-height: 22px;
}
b {
  font-weight: 400;
}

ul {
  padding-left: 30px;
}
.overflow-hidden {
  overflow: hidden;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.no-margin-x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
#pcont {
  margin-left: 216px;
  position: relative;
}
#pcont.container-fluid {
  padding: 0;
}
.container-fluid {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}

code {
  white-space: normal;
}

blockquote {
  border-left: 5px solid #7761a7;
}
blockquote.pull-right {
  border-right: 5px solid #7761a7;
}

/*Pre & Code*/
pre {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 10px;
}

/*HEADER*/
.dropdown-menu {
  border: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.176);
}
.dropdown-menu > li > a,
.dropdown-menu li > a {
  font-size: 12px;
  padding: 5px 20px;
  clear: both;
  color: #333333;
  display: block;
  font-weight: normal;
  line-height: 1.42857;
  white-space: nowrap;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: #7761a7;
}
.dropdown-header {
  color: #7761a7;
  margin-top: 6px;
  padding-left: 11px;
  cursor: pointer;
}
.dropdown-header i {
  font-size: 14px;
  margin-right: 4px;
  vertical-align: middle;
}
.navbar-nav .dropdown .dropdown-menu {
  background-clip: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}
.navbar-nav .dropdown.profile_menu .dropdown-menu {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dropdown.profile_menu .dropdown-menu:before {
  background: url(../images/menu-tail-up.png) no-repeat;
  top: -10px;
  content: "";
  right: 10px;
  display: inline-block;
  height: 43px;
  width: 17px;
  position: absolute;
}
.not-nav .dropdown-menu:before {
  background: url(../images/menu-tail-up.png) no-repeat;
  top: -10px;
  content: "";
  left: 13px;
  display: inline-block;
  height: 43px;
  width: 17px;
  position: absolute;
}
/*END - Dropdown menu*/
/*navigation*/
#head-nav.navbar {
  border-radius: 0;
  border-bottom: 1px solid #E0E4E8;
}
.navbar {
  border: 0;
  background-color: #fff;
  color: #2c3e50;
  padding-left: 10px;
  padding-right: 25px;
  margin-bottom: 0;
  height: 65px;
}
.navbar-nav > li > a {
  padding: 22px;
}
.navbar-default .navbar-brand {
  padding-left: 35px;
  text-align: left;
  width: 206px;
  color: #2c3e50;
  background: url(../images/logo.png) no-repeat 0 11px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-weight: 300;
  font-size: 19px;
  line-height: 18px;
}
.navbar-default .navbar-brand:hover {
  color: #223446;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #3F4148;
}
.navbar-default .navbar-nav > li > a {
  color: #3F4148;
  font-size: 14px;
  font-weight: 400;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #223446;
}
.navbar-default .navbar-nav > li.button {
  padding: 17px 6px;
  float: left;
}
.navbar-default .navbar-nav > li.button > a {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  width: 30px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
  text-align: center;
}
.navbar-default .not-nav > li.button {
  padding: 11px 0;
}
.navbar-default .not-nav > li.button > a {
  padding: 10px;
  width: 42px;
}
.navbar-default .navbar-nav > li.button > a > i {
  font-size: 18px;
}
.navbar-default .navbar-nav > li.button .bubble {
  position: absolute;
  top: 2px;
  left: 23px;
  background-color: #e44c34;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border-color: #E23923 #D83722 #C0311E;
  border-left: 1px solid #D83722;
  border-width: 1px;
  box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.25);
  padding: 1px 3px 1px 2px;
  font: bold 9px Tahoma;
}
.navbar-default .navbar-nav > li.button.open:after {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: inline-block;
  content: '';
  left: 50%;
  margin-left: -6px;
}
.navbar-nav > li.button .dropdown-menu {
  padding: 0;
  min-width: 260px;
  max-width: 280px;
}
.navbar-nav > li.button .dropdown-menu .content > ul {
  padding: 0;
}
.navbar-default .navbar-nav > li.button .dropdown-menu li ul > li > a {
  font-weight: 300;
  color: #444;
  padding: 11px 10px;
  padding-left: 33px;
  border-bottom: 1px solid #ececec;
  position: relative;
}
.navbar-default .navbar-nav > li.button .messages li ul > li > a {
  padding: 12px 10px;
  padding-left: 48px;
  white-space: normal;
  line-height: 16px;
}
.navbar-default .navbar-nav > li.button .dropdown-menu li > a:hover {
  color: #444;
  background: #F8F8F8;
}
.navbar-default .navbar-nav > li.button .dropdown-menu li:last-child > a {
  border-bottom: 0;
}
.navbar-default .navbar-nav > li.button .dropdown-menu li > a > i {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: 20px;
  vertical-align: middle;
  position: absolute;
  left: 10px;
  top: 14px;
}
.navbar-default .navbar-nav > li.button .messages li > a > img {
  position: absolute;
  left: 10px;
  top: 16px;
  height: 30px;
  width: 30px;
}
.navbar-default .navbar-nav > li.button .messages li > a .name {
  display: block;
  color: #555555;
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
}
.navbar-default .navbar-nav > li.button .dropdown-menu li > a > i.success {
  color: #19b698;
}
.navbar-default .navbar-nav > li.button .dropdown-menu li > a > i.info {
  color: #4aa3df;
}
.navbar-default .navbar-nav > li.button .dropdown-menu li > a > i.warning {
  color: #fed16c;
}
.navbar-default .navbar-nav > li.button .dropdown-menu li > a > i.danger {
  color: #ea6153;
}
.navbar-default .navbar-nav > li.button .dropdown-menu .nano {
  height: 200px;
}
.navbar-default .navbar-nav > li.button .dropdown-menu li a .date {
  display: block;
  font-size: 11px;
  color: #999999;
  font-style: italic;
  line-height: 18px;
}
.navbar-default .navbar-nav > li.button .dropdown-menu .title {
  font-size: 12px;
  font-weight: 300;
  border-bottom: 1px solid #DDDDDF;
  padding: 8px 17px;
  color: #444;
}
.navbar-default .navbar-nav > li.button .dropdown-menu .title a:hover {
  background: transparent;
}
.navbar-default .navbar-nav > li.button .dropdown-menu .foot {
  padding: 0;
}
.navbar-default .navbar-nav > li.button .dropdown-menu .foot > li {
  list-style: none;
}
.navbar-default .navbar-nav > li.button .dropdown-menu .foot a {
  background: #F7F7F7;
  padding: 8px 17px;
  color: #444;
  text-align: center;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #000;
  border-top-color: #000;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-bottom-color: #000;
  border-top-color: #000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus {
  background-color: #816bb1;
  color: #223446;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #7761a7;
  color: #fff;
}
.not-nav > .open > a,
.not-nav > .open > a:hover,
.not-nav > .open > a:focus {
  background-color: transparent !important;
  color: #7761a7 !important;
}
.navbar-default .navbar-toggle {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
  padding: 6px 10px;
}
.navbar-default .navbar-toggle:hover {
  background: rgba(255, 255, 255, 0.07);
}
.navbar-default .navbar-toggle:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07) inset;
}
.navbar-default .navbar-toggle:focus {
  background: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-default .navbar-toggle .fa {
  color: #FFFFFF;
  font-size: 18px;
}
.navbar-collapse {
  border-top: none;
  max-height: none;
  position: relative;
}

.cl-mcont.aside {
  padding: 0;
  display: table;
  height: 100%;
  margin-top: -66px;
  padding: 66px 0 0;
}
.cl-mcont.aside > .content {
  vertical-align: top;
  display: table-cell;
  width: 100%;
}
/*Profile menu*/
.profile_menu {
  margin-left: 10px;
  cursor: pointer;
}
.not-nav {
  margin: 0 !important;
}
.user-nav {
  margin: 0;
  margin-right: -15px;
}
.profile_menu .dropdown-toggle {
  padding: 17px 10px;
}
.profile_menu img {
  margin-right: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
/*END - Profile menu*/
/*BODY*/
.cl-mcont .row {
  margin-top: 20px;
}
.cl-mcont .col-lg-6 {
  padding: 0 15px;
}
body.boxed {
  background-color: #d0d0d0;
}
body.boxed #cl-wrapper {
  width: 92%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: #F0F0F0;
}
/*Forms*/
label {
  font-weight: 600;
  margin-bottom: 7px;
}
.form-group {
  margin-top: 10px;
}
.form-horizontal.group-border .form-group {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
}
.form-horizontal.group-border .form-group:last-child {
  border-bottom: 0;
}
.form-horizontal.group-border-dashed .form-group {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px dashed #efefef;
}
.form-horizontal.group-border-dashed .form-group:last-child {
  border-bottom: 0;
}
.form-control {
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  box-shadow: none;
}
.input-group .btn {
  margin: 0 !important;
  margin-left: -1px !important;
  padding-bottom: 6px;
  padding-top: 6px;
  box-shadow: none;
  line-height: 20px;
}
.input-group-btn > .btn + .btn {
  margin-left: -5px !important;
}
.input-group-lg > .input-group-addon {
  line-height: 0.33;
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}
.input-group-addon {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 6px 11px;
}
.input-group-addon.primary {
  background-color: #7761a7;
  color: #fff;
}
.form-control:focus {
  border-color: #ccc;
  box-shadow: none;
  background-color: #F4F5F7;
}
select.form-control,
textarea.form-control {
  padding: 6px 8px;
}
.input-group {
  margin-bottom: 15px;
}

.cl-mcont {
  background-color: #F0F0F0;
  color: inherit;
  font-size: 13px;
  font-weight: 200;
  line-height: 21px;
  padding: 15px 30px 30px 30px;
  margin-top: 0;
}
.cl-mcont.white {
  background: #fff;
}
.cl-mcont h1 {
  line-height: 1.3em;
}
/*Vertical Navigation*/
.cl-sidebar {
  background: #272930;
  position: absolute;
  width: 280px;
  z-index: 2;
}
.cl-sidebar .cl-toggle {
  display: none;
  padding: 7px 8px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 14px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
.cl-sidebar .cl-toggle i {
  color: #fff;
  font-size: 21px;
}
.sidebar-logo {
  background: #F0F0F0 url(../images/logo.png) no-repeat 32px 10px;
  padding: 15px 20px;
  display: block;
  height: 64px;
}
.sidebar-logo .logo a {
  font-size: 24px;
  color: #fff;
}
#cl-wrapper .cl-sidebar .side-user .avatar {
  display: inline-block;
}
#cl-wrapper .cl-sidebar .side-user .avatar img {
  border-radius: 25px;
  margin-right: 5px;
}
#cl-wrapper .cl-sidebar .side-user .info {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  padding-top: 15px;
}
#cl-wrapper .cl-sidebar .side-user .info p {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 2px;
}
#cl-wrapper .cl-sidebar .side-user .info p b {
  font-weight: 600;
}
#cl-wrapper .cl-sidebar .side-user .info p a {
  color: #FFF;
  font-weight: 300;
  display: inline-block;
  float: right;
}
#cl-wrapper .cl-sidebar .side-user .info a i {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -o-transition: color 250ms ease;
  transition: color 250ms ease;
}
#cl-wrapper .cl-sidebar .side-user .info a:hover i {
  color: #ffffff;
}
.progress.progress-user {
  height: 4px;
  border-radius: 0;
}
.progress.progress-user > .progress-bar {
  background-color: #7761a7;
}
.cl-vnavigation {
  margin: 0 0 0 0;
  padding: 0;
}
.cl-vnavigation > .parent > a:before {
  display: inline-block;
  content: "";
  font-family: 'FontAwesome';
  float: right;
  -webkit-transition: rotate 250ms ease;
  -moz-transition: rotate 250ms ease;
  -o-transition: rotate 250ms ease;
  transition: transform 250ms ease;
}
.cl-vnavigation > .parent.open > a:before {
  transform: rotate(90deg);
}
.cl-vnavigation li a {
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  display: block;
  padding: 14px 25px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  transition: color 250ms ease;
}
.cl-vnavigation li a:hover {
  color: #ffffff;
}
.parent .sub-menu {
  padding: 10px 0;
}
.sub-menu li a {
  border: 0;
}
.sub-menu li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.cl-vnavigation li a:hover {
  background-color: #22242b;
}

#cl-wrapper.animate-collapse .cl-sidebar {
  -webkit-transition: width 300ms linear;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: width 300ms linear;
  /* Firefox 4-15 */
  -o-transition: width 300ms linear;
  /* Opera 10.50–12.00 */
  transition: width 500ms linear;
}
#cl-wrapper.animate-collapse #pcont {
  transition: margin 500ms ease;
}
#cl-wrapper.animate-collapse .cl-vnavigation li a span {
  -webkit-transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -o-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}
#cl-wrapper.animate-collapse .cl-vnavigation li a i {
  -webkit-transition: margin 500ms linear, font-size 500ms linear;
  -moz-transition: margin 500ms linear, font-size 500ms linear;
  -o-transition: margin 500ms linear, font-size 500ms linear;
  transition: margin 500ms linear, font-size 500ms linear;
}
.cl-sidebar .collapse-button {
  background: #272930;
  position: fixed;
  width: 280px;
  bottom: 0;
  border-top: 0px solid rgba(255, 255, 255, 0.04);
}
.cl-sidebar .collapse-button .search {
  width: 219px;
  display: inline-block;
  margin-right: 3px;
  border-radius: 2px;
  height: 33px;
  color: rgba(255, 255, 255, 0.7);
  background: none repeat scroll 0 0 #181A21;
  font-size: 11px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
.cl-sidebar .collapse-button button {
  margin: 0 !important;
  background: transparent;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 2px;
}
.cl-sidebar .collapse-button button:hover {
  background: #1d1f26;
}
#cl-wrapper.fixed-menu .menu-space {
  position: fixed;
  width: 216px;
  background: #272930;
}
#cl-wrapper.fixed-menu .menu-space .content {
  outline: none;
}
#cl-wrapper.sb-collapsed.fixed-menu .menu-space {
  width: 70px;
}
#cl-wrapper .cl-sidebar .side-user {
  padding: 25px 20px;
}
.sb-collapsed .cl-sidebar .side-user {
  display: none;
}
#cl-wrapper.animate-collapse .cl-sidebar .collapse-button {
  -webkit-transition: width 300ms linear;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: width 300ms linear;
  /* Firefox 4-15 */
  -o-transition: width 300ms linear;
  /* Opera 10.50–12.00 */
  transition: width 500ms linear;
}
.sb-collapsed .cl-sidebar .collapse-button .search {
  display: none;
}
.sb-collapsed .cl-sidebar .collapse-button {
  width: 70px;
  text-align: center;
}
.sb-collapsed .cl-vnavigation li.open ul {
  display: none !important;
}
#sub-menu-nav ul {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.22);
  color: #333;
  background: #FFF;
  padding: 5px 0;
  min-width: 190px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 0;
  border-radius: 3px;
}
#sub-menu-nav ul li:first-child {
  padding-top: 0;
}
#sub-menu-nav ul li:last-child {
  padding-bottom: 0;
}
#sub-menu-nav ul li.dropdown-header i {
  text-align: center;
  width: 15px;
}
#sub-menu-nav ul li.dropdown-header {
  padding: 1px 11px;
  padding-bottom: 6px;
}
#sub-menu-nav ul {
  padding: 5px 0;
}
#sub-menu-nav ul li {
  list-style: none;
}
#sub-menu-nav ul li a {
  margin-right: -1px;
  display: block;
  font-size: 11px;
  border-bottom: 0;
  color: #333333;
  text-shadow: none;
  text-align: left;
  background: transparent;
  padding: 6px 20px 6px 31px;
}
#sub-menu-nav ul li a:hover {
  background-color: #7761a7;
  color: #FFF;
}
#sub-menu-nav ul:after {
  background: url(../images/menu-tail-left.png) no-repeat right 10px;
  top: 0px;
  content: "";
  display: inline-block;
  left: -9px;
  height: 43px;
  width: 10px;
  position: absolute;
}
/*.sb-collapsed .cl-vnavigation li:hover ul{display: block !important;}
	.sb-collapsed .cl-vnavigation li.ocult ul{display:none !important;}

*/
/*End Collapsed*/
.cl-vnavigation li a i {
  text-align: center;
  width: 20px;
  font-size: 14px;
  margin-right: 7px;
}
.cl-vnavigation li a span {
  display: inline-block;
}
.cl-vnavigation li ul {
  background-color: #1d1f26;
  display: none;
  margin: 0;
  padding: 0;
  padding-top: 4px;
}
.cl-vnavigation .parent ul li {
  list-style: none;
}
.cl-vnavigation .parent ul li.dropdown-header {
  display: none;
}
.cl-vnavigation .parent ul li a {
  font-size: 12px;
  background-image: none;
  padding: 7px 18px 7px 42px;
}
.cl-vnavigation .parent ul li.active a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 2px solid #7761a7;
}
.cl-vnavigation .parent ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.cl-vnavigation .parent ul li a:first-child {
  border-top: 0;
}
.cl-vnavigation .active > a {
  background: #2A2C34;
  border-left: 2px solid #7761a7;
}
.cl-vnavigation .selected:hover a {
  background-color: #2494F2;
}
.cl-vnavigation .selected:hover ul a {
  background-color: #1A1C20;
}
body {
  height: 100%;
}
/*
.cl-sidebar{
  min-height:100%;
}*/
body.animated #cl-wrapper {
  opacity: 0;
  margin-left: -20px;
  transition: margin-left 600ms ease, opacity 600ms;
}
#cl-wrapper {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
}
.cl-sidebar {
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-bottom: 49px;
}
#pcont {
  display: table-cell;
  vertical-align: top;
}
#head-nav.topbar {
  background-color: #7761a7;
  color: #fff;
  padding-left: 0;
}
#head-nav.topbar .sidebar-logo {
  display: inline-block;
  width: 220px;
  float: left;
}
#head-nav.topbar .navbar-toggle {
  box-shadow: none;
  background-color: #685298;
  border: none;
  margin-right: 15px;
}
#head-nav.topbar .navbar-nav > li > a {
  color: #fff;
}
#head-nav.topbar .navbar-nav > .active > a,
#head-nav.topbar .navbar-nav > .active > a:hover,
#head-nav.topbar .navbar-nav > .active > a:focus {
  background-color: #816bb1;
}
#head-nav.topbar .navbar-nav > .open > a,
#head-nav.topbar .navbar-nav > .open > a:hover,
#head-nav.topbar .navbar-nav > .open > a:focus {
  background-color: #816bb1;
}
#head-nav.topbar .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}
#head-nav.topbar .navbar-nav .dropdown .dropdown-menu {
  margin-top: 1px;
}
#head-nav.topbar .not-nav {
  float: right;
}
#head-nav.topbar .navbar-nav > li.button > a {
  box-shadow: none;
}
#head-nav.topbar .not-nav > .open > a,
#head-nav.topbar .not-nav > .open > a:hover,
#head-nav.topbar .not-nav > .open > a:focus {
  color: #fff !important;
}

.error-container .copy,
.error-container .copy a {
  color: #C9D4F6;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
body.texture {
  background: #23262b;
}

/*Login*/
#cl-wrapper.login-container,
#cl-wrapper.error-container {
  margin: 0;
}
.login-container .middle-login {
  width: 430px;
  margin: 70px auto 0 auto;
  left: 50%;
  top: 30%;
  position: absolute;
  margin-top: -170px;
  margin-left: -215px;
}
.login-container .block-flat {
  padding: 0;
  border: 0;
  overflow: hidden;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}
.login-container .block-flat .header {
  padding: 9px 20px;
  background: #F0F0F0;
  border-bottom: 1px solid #B8B8B8;
}
.login-container .block-flat .header h3 {
  line-height: 35px;
  margin: 0;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  min-height: 48px;
}
.login-container .header .logo-img {
  left: 38%;
  margin-left: -63px;
  margin-top: 2px;
  position: absolute;
  top: 2%;
}
.login-container .block-flat .content {
  padding: 30px;
  padding-bottom: 5px;
}
.login-container .block-flat .content .form-control {
  padding: 10px 8px;
  height: auto;
}
.login-container .block-flat .content .form-group {
  margin-bottom: 10px;
}
.login-container .block-flat .content .title {
  margin-top: 0;
  margin-bottom: 20px;
}
.login-container .block-flat .foot {
  text-align: right;
  padding: 0 30px 15px;
}
.login-container .block-flat .foot .btn {
  min-width: 70px;
}
.login-container .block-flat .input-group-addon {
  background: #FAFAFA;
}
.login-container .out-links {
  padding-right: 3px;
}
.login-container .out-links a {
  color: #C9D4F6;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.email .page-title,
.app .page-title {
  font-size: 26px;
  margin-bottom: 0;
  margin-top: 10px;
}
.email .description,
.app .description {
  color: #888;
}

/*Alerts*/
.alert {
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0;
}
.alert .sign {
  color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
  text-align: center;
  width: 25px;
  display: inline-block;
}
.alert .close {
  text-shadow: none;
}
.alert-primary {
  background-color: #7761a7;
  border-color: #6d579d;
  color: #fff;
}
.alert-success {
  background-color: #19b698;
  border-color: #0fac8e;
  color: #fff;
}
.alert-info {
  background-color: #4aa3df;
  border-color: #4099d5;
  color: #fff;
}
.alert-warning {
  background-color: #f16e3f;
  border-color: #e76435;
  color: #fff;
}
.alert-danger {
  background-color: #ea6153;
  border-color: #e05749;
  color: #fff;
}

/*Buttons*/
.btn {
  border-color: #CCCCCC;
  border-radius: 0;
  -webkit-border-radius: 0;
  outline: none;
  margin-bottom: 5px !important;
  margin-left: 3px;
  font-size: 13px;
  padding: 7px 11px;
}
.btn-default,
.btn-default:focus {
  background-color: #FFFFFF;
  border-color: #CCCCCC;
  color: #5E5E5E;
}
.btn-default i {
  color: #444;
}
.btn-default:active {
  box-shadow: none;
  background: #f5f5f5;
}
.btn-primary,
.btn-primary:focus {
  background-color: #7761a7;
  border-color: transparent;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #816bb1;
  border-color: transparent;
}
.btn-primary:active {
  box-shadow: none;
  background: #6d579d;
}

.btn-rad {
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
.btn i {
  font-size: 14px;
  margin-right: 2px;
  display: inline-block;
  min-width: 10px;
}
.btn-group-vertical {
  margin: 3px 3px;
}
.btn-block {
  width: 100%;
}
.close {
  text-shadow: none;
  font-size: 32px;
  margin-top: -6px;
}

/*Specific icons size*/
.btn-lg {
  padding: 12px 14px;
  font-size: 15px;
  font-weight: 300;
}
.btn-lg i {
  font-size: 18px;
}

/*Labels*/
.label {
  border-radius: 0;
  -webkit-border-radius: 0;
  font-weight: normal;
  font-size: 95%;
}
.label-default {
  background-color: #a1a1a1;
}
.label i {
  font-size: 100% !important;
  color: inherit !important;
  width: auto !important;
  min-width: 11px;
}



/*Modals*/
.md-modal.full-width {
  width: 90%;
  max-width: none;
}
.modal-dialog.full-width {
  width: 90%;
  max-width: none;
}
.custom-width {
  width: 40%;
  max-width: none;
}
.modal-custom-width-3 {
  width: 30%;
  max-width: none;
}
.modal-custom-width-3-5 {
  width: 35%;
  max-width: none;
}
.modal-custom-width {
  width: 50%;
  max-width: none;
}

.modal-body {
  padding: 30px 20px;
}
.modal-body.form {
  padding: 15px 20px 15px;
  font-size: 13px;
}

.colored-header .modal-header {
  padding: 20px;
  border-bottom: 2px solid #634d93 !important;
  background-color: #7761a7;
  color: #fff;
}
.colored-header.success .modal-header {
  padding: 20px;
  border-bottom: 5px solid #05a284 !important;
  background-color: #19b698;
  color: #fff;
}
.colored-header.info .modal-header {
  padding: 20px;
  border-bottom: 5px solid #368fcb !important;
  background-color: #4aa3df;
  color: #fff;
}
.colored-header.warning .modal-header {
  padding: 20px;
  border-bottom: 5px solid #dd5a2b !important;
  background-color: #f16e3f;
  color: #fff;
}
.colored-header.danger .modal-header {
  padding: 20px;
  border-bottom: 5px solid #d64d3f !important;
  background-color: #ea6153;
  color: #fff;
}
.colored-header.prusia .modal-header {
  padding: 20px;
  border-bottom: 5px solid #294259 !important;
  background-color: #3d566d;
  color: #fff;
}
.colored-header.dark .modal-header {
  padding: 20px;
  border-bottom: 5px solid #0f1217 !important;
  background-color: #23262b;
  color: #fff;
}
.modal-content h4,
.modal-content h4 {
  font-weight: 400;
}
.modal-content h3,
.modal-content h3 {
  font-weight: 300;
  margin-top: 0;
  display: inline;
}
.modal-content h2 {
  margin: 0;
}
.modal-content .modal-footer {
  margin-top: 0;
  background: #FBFBFB;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
/*Nifty Modals*/
.md-content {
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 0;
  background: #fff;
  color: #555;
}
.md-content .modal-header {
  border-bottom: 0;
}
.md-content h4,
.modal-content h4 {
  font-weight: 400;
}
.md-content h3,
.modal-content h3 {
  font-weight: 300;
  margin-top: 0;
}
.md-content h2 {
  margin: 0;
}
.md-content .modal-footer {
  margin-top: 0;
  background: #FBFBFB;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

#main-content .loading {
  display: none;
  cursor: wait;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

#main-content .loading i {
  position: relative;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -13px;
  font-size: 28px;
}



/*Select 2*/
.select2-container .select2-choice {
  border: 1px solid #ccc;
  background: #fff;
  padding: 4px 8px;
  height: auto;
  border-radius: 1px;
  -webkit-border-radius: 1px;
}
.select2-drop {
  box-shadow: none;
}
/*box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.18);*/
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  background: #fff;
  border-color: rgba(0, 0, 0, 0) #7761a7 #7761a7;
}
.select2-container .select2-container-multi .select2 .select2-dropdown-open {
  box-shadow: none;
}
.select2-container-multi.select2-container-active .select2-choices {
  box-shadow: none;
  border: 1px solid #7761a7;
}
.select2-drop-active {
  border-color: -moz-use-text-color #7761a7 #7761a7;
}
.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #7761a7;
}
.select2-drop.select2-drop-above {
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
}
.select2-container .select2-choice abbr {
  right: 32px;
  top: 10px;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  box-shadow: none;
  border-color: #7761a7;
}
.select2-container .select2-choice .select2-arrow {
  width: 30px;
  background-color: #FFFFFF;
  background-image: none;
}
.select2-results .select2-highlighted {
  background: none repeat scroll 0 0 #7761a7;
}
.select2-container .select2-choice .select2-arrow b {
  background-position: 7px 4px;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -13px 3px;
}
.select2-container.select2-drop-above .select2-choice {
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
}
/*Tags*/
.select2-container-multi .select2-choices .select2-search-choice {
  border: none;
  border-radius: 0;
  background-color: #7761a7;
  background-image: none;
  color: #fff;
  box-shadow: none;
  padding: 3px 5px 5px 18px;
}
.select2-container-multi .select2-choices {
  padding: 5px;
  background: #fff;
  box-shadow: none;
}

/*Switch*/
.has-switch {
  border: 0;
  width: 75px;
  min-width: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  margin-right: 5px;
}
.has-switch:last-child {
  margin-right: 0;
}
.has-switch span {
  height: 28px;
  border-radius: 0;
  -webkit-border-radius: 0;
  float: left;
  width: 60px;
  transition: background 0.5s ease-in-out;
}
.has-switch label {
  width: 30px;
  height: 28px;
  border: 3px solid #7761a7;
  background: #fff;
  float: left;
  margin: 0 !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.has-switch label:hover {
  background: #FFF;
}
.has-switch span.switch-left {
  background: #7761a7;
  border-radius: 0;
  -webkit-border-radius: 0;
  margin-right: -15px;
  text-align: left;
  padding-left: 10px;
}
.has-switch span.switch-left:hover {
  background: #7761a7;
}
.has-switch span.switch-right {
  background: #e3e3e3;
  margin-left: -15px;
}
.has-switch span.switch-right:hover {
  background: #E3E3E3;
}
.has-switch span.switch-success.switch-left,
.has-switch span.switch-success.switch-left:hover {
  background: #7761a7;
}
.has-switch span.switch-success.switch-left + label {
  border-color: #7761a7;
}
.has-switch span.switch-warning.switch-left,
.has-switch span.switch-warning.switch-left:hover {
  background: #FC9700;
}
.has-switch span.switch-warning.switch-left + label {
  border-color: #FC9700;
}
.has-switch span.switch-danger.switch-left,
.has-switch span.switch-danger.switch-left:hover {
  background: #DA4932;
}
.has-switch span.switch-danger.switch-left + label {
  border-color: #DA4932;
}
.has-switch .switch-off span.switch-left + label {
  border-color: #e3e3e3;
}
.has-switch .switch-off span.switch-left {
  background: #e3e3e3;
}
.has-switch > div {
  width: 160%;
}
.has-switch > div.switch-off {
  left: -60%;
}


/*TABS*/
.nav-tabs {
  border-bottom: 1px solid transparent;
}
.nav-tabs > li {
  font-size: 14px;
  margin-right: 2px;
}
.nav-tabs > li.active {
  position: relative;
}
.nav-tabs.wall > li {
  margin-bottom: 2px;
}
.nav-tabs > li > a {
  padding: 9px 15px;
  font-size: 13px;
  margin-right: 0;
  min-width: 80px;
  text-align: center;
}
.nav-tabs > li > a > i {
  margin-right: 7px;
}
.nav-tabs.wall > li > a {
  padding: 9px 15px;
  font-size: 13px;
  margin-right: 0;
  min-width: 20px;
  color: #555;
  text-align: center;
  border: none;
}
.nav-tabs.wall > li > a:hover,
.nav-tabs.wall > li > a:active {
  background: transparent;
  border: none;
  color: #7761a7;
  border-radius: 2px;
  -webkit-border-radius: 2px 2px 0 0;
}
.nav-tabs.wall > li.active > a:after,
.nav-tabs.wall > li.active > a:hover:after,
.nav-tabs.wall > li.active > a:focus:after {
  content: "";
  display: block;
  height: 10px;
  background: url('images/menu-tail-up.png') no-repeat;
  position: absolute;
  bottom: -3px;
  top: auto;
  left: 50%;
  margin-left: -8px;
  width: 17px;
}
.nav-tabs.wall > li.active > a,
.nav-tabs.wall > li.active > a:hover,
.nav-tabs.wall > li.active > a:focus {
  background: transparent;
  color: #7761a7;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 0;
  border-bottom: 0;
  padding-bottom: 10px;
  padding-top: 9px;
  box-shadow: none;
  position: static;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:active {
  background: transparent;
  border: 1px solid transparent;
  color: #634d93;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
}
.nav-tabs > li.active > a:after,
.nav-tabs > li.active > a:hover:after,
.nav-tabs > li.active > a:focus:after {
  content: "";
  display: block;
  height: 2px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top: 2px solid #7761a7;
  border-radius: 0;
  -webkit-border-radius: 0;
  border-bottom: 0;
  padding-bottom: 10px;
  padding-top: 8px;
  box-shadow: 1px -3px 4px -3px rgba(0, 0, 0, 0.08);
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  position: static;
}
.tab-content {
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #E2E2E2;
  border-left: 1px solid #ECECEC;
  border-radius: 0 3px 3px;
  -webkit-border-radius: 0 3px 3px;
  border-right: 1px solid #ECECEC;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
}
.tab-content #picture .fileinput .thumbnail {
  border: 2px dashed #ddd;
}
.tab-content #picture .fileinput .thumbnail h2 {
  top: 30%;
  position: relative;
}
.tab-content h3,
h2,
h1:first-child {
  margin-top: 0;
}


.cl-mcont .block .content {
  padding: 20px;
}
.cl-mcont .block .stat-data,
.cl-mcont .block-flat .stat-data {
  padding: 10px;
  float: left;
  width: 50%;
}
.cl-mcont .block .stat-data h2,
.cl-mcont .block-flat .stat-data h2 {
  margin: 0 0 5px 0;
}
.cl-mcont .block .stat-data span,
.cl-mcont .block-flat .stat-data span {
  font-size: 18px;
}
.cl-mcont .block .stat-data .stat-blue,
.cl-mcont .block-flat .stat-data .stat-blue {
  background: #43A0F2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  color: #FFF;
  padding: 20px 10px;
}
.cl-mcont .block .stat-data .stat-number,
.cl-mcont .block-flat .stat-data .stat-number {
  border-bottom: 1px solid #dadada;
}
.cl-mcont .block .stat-data .stat-number:last-child,
.cl-mcont .block-flat .stat-data .stat-number:last-child {
  border-bottom: 0;
}
.cl-mcont .block .stat-data .stat-number div,
.cl-mcont .block-flat .stat-data .stat-number div {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 5px;
  font-size: 16px;
  line-height: 20px;
}
.cl-mcont .block .stat-data .stat-number h2,
.cl-mcont .block-flat .stat-data .stat-number h2 {
  margin: 0;
  font-size: 35px;
  color: #444;
  font-weight: 300;
}
.cl-mcont .block .stat-data .stat-number span,
.cl-mcont .block-flat .stat-data .stat-number span {
  font-size: 12px;
}


input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: disc;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list li {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #555;
    line-height: 1.428571429;
    text-align: left;
    display: list-item;
}

.parsley-errors-list.filled {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  opacity: 1;
}

.dropdown-toggle {
    height: 64px;
}

/*Validation*/
.parsley-error-list {
    margin-top: 4px;
    padding: 0;
}
.parsley-error-list li {
    padding: 0;
    list-style: none;
    color: #cc0000;
}
.parsley-error {
    border-color: #c00 !important;
}

/* Alert style */
.alert {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 6px;
}

.form-horizontal .control-label {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 7px;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.form-horizontal .form-group:after {
    clear: both;
}

.form-horizontal .control-label {
    text-align: right;
}
.form-horizontal .control-label {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 7px;
}

.block-flat {
  margin-bottom: 40px;
  padding: 20px 20px;
  background: #FFF;
  border-radius: 3px;
  position: relative;
  -webkit-border-radius: 3px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  transition: padding 500ms;
  -moz-transition: padding 500ms;
  -webkit-transition: padding 500ms;
}


/*Pagination*/
.pagination {
  margin: 18px 0;
}
.pagination > li > a,
.pagination > li > span {
  color: #7761a7;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #7761a7;
  border-color: #7761a7;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0;
}

/*Dropdown Sub menu*/
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0px;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-menu li > a:hover {
  background-color: #7761a7;
  background-image: none;
  color: #FFF;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #000;
  border-top-color: #000;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-bottom-color: #000;
  border-top-color: #000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus {
  background-color: #816bb1;
  color: #223446;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #7761a7;
  color: #fff;
}
.not-nav > .open > a,
.not-nav > .open > a:hover,
.not-nav > .open > a:focus {
  background-color: transparent !important;
  color: #7761a7 !important;
}
.navbar-default .navbar-toggle {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
  padding: 6px 10px;
}
.navbar-default .navbar-toggle:hover {
  background: rgba(255, 255, 255, 0.07);
}
.navbar-default .navbar-toggle:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07) inset;
}
.navbar-default .navbar-toggle:focus {
  background: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-default .navbar-toggle .fa {
  color: #FFFFFF;
  font-size: 18px;
}
.navbar-collapse {
  border-top: none;
  max-height: none;
  position: relative;
}

/*Multiselect*/
.multiselect-container > li > label.multiselect-group {
  font-size: 13px;
  font-weight: 600;
}
.ms-container .ms-list {
  box-shadow: none;
}
.ms-container .ms-list.ms-focus {
  border-color: #7761a7;
  box-shadow: none;
}
.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
  background: #7761a7;
}
#ms-custom-headers .custom-header {
  background: #7761a7;
  color: #FFFFFF;
  padding: 7px 10px;
  font-size: 14px;
}
#ms-custom-headers .ms-list {
  border-radius: 0 0 3px 3px;
  border-top: none;
}
#ms-searchable .ms-list {
  border-radius: 0 0 3px 3px;
  border-top: none;
}
.ms-container {
  width: 100%;
}

.ms-container .ms-selectable, .ms-container .ms-selection {
    width: 47%;
}

table.table-bordered.dataTable tr.row_selected td {
    background-color: #E6F1F6;
}

/*---------------------------------------------------
 * 404 & 500 Page Style
 * ------------------------------------------------*/
.page-error {
    margin-top: 80px;
    margin-bottom: 40px;
}

.page-error .description {
    color: #FFF;
    font-size: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.page-error h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.page-error .number {
    color: #FFF;
    font-size: 168px;
    font-family: Arial;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.text-center {
    text-align: center;
}
