<div id="navwrap">
    <!-- Repeats image across page behind navigation -->
    <div id="menu">
      <ul>
          <li><a href="/">{{_('Home')}}</a></li>
          <li><a href="/article/products">{{_('Products')}}</a></li>
          <li><a href="/article/applications">{{_('Applications')}}</a></li>
          <li><a href="/article/licensing">{{_('Licensing')}}</a></li>
          <li><a href="/article/downloads">{{_('Downloads')}}</a></li>
          <li><a href="/article/corporate">{{_('Corporate')}}</a></li>
          <li><a href="/article/contact-info">{{_('Contact')}}</a></li>
      </ul>
    </div>
    <!-- Close navwrap -->
</div>

