<div id="headerwrap"> 
    <ul id="header">
        <li>
        <a href='/switch/zh_CN'>{{_('Chinese')}}</a>
        </li>
        <li>
        <a href='/switch/en_US'>{{_('English')}}</a>
        </li>
        <li>
        <a id="login" style="cursor: pointer;"">{{_('Login')}}</a>
        <a id="login-username" style="cursor: pointer; display: none;" data-toggle="modal" data-target="#myProfileModal"></a>
        </li>
    </ul>
</div>


{% include "web/user/login-user.html"%}
{% include "web/user/request-account.html"%}
{% include "web/user/user-profile.html"%}
