<div id="headerwrap"> 
    <div id="header">
        <li>
        <a href='/switch/zh'>{{_('Chinese')}}</a>
        </li>
        <li>
        <a href='/switch/en'>{{_('English')}}</a>
        </li>
        <li>
        <a id="login" style="cursor: pointer;">{{_('Login')}}</a>
        <li class="sub" id="user-profile-container" style="cursor: pointer;">
            <a id="login-username" href="#" class="" data-toggle="dropdown"><span>{{ user[0] }}</span></a>
            <ul>
                <li><a href="/web/logout">{{_('Sign Out')}}</a></li>
                <li><a id="my-profile" href="/security/logout">My Profile</a></li>
            </ul>
        </li>
        </li>
    </div>
</div>


{% include "web/user/login-user.html"%}
{% include "web/user/request-account.html"%}
{% include "web/user/user-profile.html"%}
