<div id="headerwrap"> 
    <div id="header">
        <li>
        <a href='/switch/zh'>{{_('Chinese')}}</a>
        </li>
        <li>
        <a href='/switch/en'>{{_('English')}}</a>
        </li>
        <li>
        <a id="login" style="cursor: pointer;">{{_('Login')}}</a>
        <a id="login-username" style="cursor: pointer; display: none;" data-toggle="modal" data-target="#myProfileModal">{{ user[0] }}</a>
        </li>
    </div>
</div>


{% include "web/user/login-user.html"%}
{% include "web/user/request-account.html"%}
{% include "web/user/user-profile.html"%}
