<div id="navwrap">
    <!-- Repeats image across page behind navigation -->
    <div id="menu">
      <ul>
          <li><a href="/">Home</a></li> 
          <li><a href="/products">Products</a></li> 
          <li><a href="/applications">Applications</a></li> 
          <li><a href="/licensing">Licensing</a></li> 
          <li><a href="/downloads">Downloads</a></li> 
          <li><a href="/corporate">Corporate</a></li> 
          <li><a href="/contact">Contact</a></li> 
      </ul>
    </div>
    <!-- Close navwrap -->
</div>

