<html>
<head>
</head>
<body style="font-family: Helvetica, Arial, Microsoft YaHei, SimHei,sans-serif;position: relative;padding: 0;background-color: #F0F0F0;color: #555;line-height: 1.3;">
    <div style="width: 600px;height: 80px;margin: 0px auto;">
        <img src="http://uk.cogenda.com/static/images/cog.png">
    </div>
    <div style="width: 600px;margin: auto;">
        <br>
        Dear, {{ to_name }}
        <div style="margin-bottom: 40px;margin-top: 20px">{{ message }}</div>
        <br>
        With all best.
        <br>
        ---
        <br>
        {{ from_name }}
        <br>
    </div>
</body>
</html>
