<div id="headerwrap"> 
    <div id="header">
        <ul class="button-group">
            <li>
            <a class="small button" href="" onclick="switch_locale('zh')">{{_('Chinese')}}</a>
            </li>
            <li>
            <a class="small button" href="" onclick="switch_locale('en')">{{_('English')}}</a>
            </li>
            <li>
            <a class="small button" id="login" style="cursor: pointer;">{{_('Login')}}</a>
            <li class="sub" id="user-profile-container" style="cursor: pointer; style: none;">
            </li>
            </li>
           </ul>
    </div>
</div>

{% include "web/user/login-user.html"%}
{% include "web/user/request-account.html"%}
{% include "web/user/user-profile.html"%}
