<form class="modal fade colored-header form-horizontal" id="userProfileModal" data-parsley-validate>
    <div class="modal-dialog modal-custom-width">
        <div class="modal-content">
            <div class="modal-header login-pop">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <img src="/static/images/logo.png" />
                </h4>
            </div>
            <img style="margin-top: -2px" src="/static/images/login-border.png" width="100%" />
            <div class="modal-body">
                <h2>My Profile</h2>
                <div class="">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{_('Name')}}</label>
                    <div class="col-sm-5">
                        <p id="u_name" style="margin-bottom: 0; margin-top: 0; padding-top: 5px;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{_('Email')}}</label>
                    <div class="col-sm-5">
                        <p id="u_email" style="margin-bottom: 0; margin-top: 0; padding-top: 5px;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{_('Company')}}</label>
                    <div class="col-sm-5">
                        <p id="u_company" style="margin-bottom: 0; margin-top: 0; padding-top: 5px;"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{_('Mobile')}}</label>
                    <div class="col-sm-5">
                        <p id="u_mobile" style="margin-bottom: 0; margin-top: 0; padding-top: 5px;"></p>
                    </div>
                </div>
                <div class="">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="col-sm-12" style="text-align: left;">
                    <h3><strong>Change Your Password</strong></h3>
                </div>
                <div class="col-sm-12 spacer2">
                    <div id="change-password-msg-container" class="alert alert-warning" style="display: none; text-align: left;">
                        <i class="fa fa-times-circle sign"></i>
                        <lable id="change-password-msg"></lable>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" id="password1" class="form-control" placeholder="{{_('Password')}}"
                                value="" data-parsley-length="[1, 25]" data-parsley-trigger="change" data-parsley-errors-container="#password1-error" required>
                        </div>
                        <div id="password1-error"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" id="password2" class="form-control" placeholder="{{_('Confirm Password')}}"
                                value="" data-parsley-length="[1, 25]" data-parsley-trigger="change" data-parsley-errors-container="#password2-error" required>
                        </div>
                        <div id="password2-error"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12" style="text-align: right;">
                        <button id="change-password-btn" type="submit" class="btn btn-primary btn-check"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
